section {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    gap: 5px;
}

section .card {
    border: 8px solid royalblue;
    text-align: center;
    padding: 10px 30px;
    border-radius: 5px;
}
img {
    width: 250px;
}

p {
    font-family: cursive;
    color: royalblue;
}

button {
    border: none;
    outline: none;
    padding: 10px 30px;
    color: white;
    border-radius: 5px;
    background-color: royalblue;
}